@charset "utf-8";
.cpopupdiv
{
	width:100%;
	height:100%;
	background: rgba(0, 0, 0, 0.6);
	position:fixed;
	z-index:99999;
	top:0px;left:0px;
	display:none;
}
.cpopup
{
	width:600px;opacity: 1.0;
	margin:auto;
	margin-top:100px;
	height:500px;
	border-top:#f25900 10px solid;
	background-color:#FFF;
	
}
.submitr{cursor:pointer;}
.spopupdiv
{
	width:100%;
	height:100%;
	background: rgba(0, 0, 0, 0.6);
	position:fixed;
	z-index:99999;
	top:0px;left:0px;
	display:none;
}
.spopup
{
	width:600px;opacity: 1.0;
	margin:auto;
	margin-top:100px;
	height:550px;
	border-top:#f25900 10px solid;
	background-color:#FFF;
	
}

.rightsub{height:auto;padding:5px!important;float:none!important;}
.rightsub ul{margin:0px!important;float:none!important;}
ul.rightsub li{padding:5px 0 5px 20px!important;font-size:11px!important; background-image:url(../../Themes_App/Frontend/images/green_arrow.png)!important; background-position:left top; background-repeat:no-repeat;}
.cnew{list-style:none;}
.cnew li{list-style:none;float:left;width:79px;padding:5px;color:#FFF;border:#FFF 1px solid;font-size:12px;border-bottom:none;cursor:pointer;padding-top:4px;padding-bottom:4px;}
.butcont{font-size:10px;padding-left:5px;}
.butcont span{font-size:12px;padding-bottom:5px;line-height:20px;}


.cnew li.inactive{background-color:#f2f2f2; color:#acacac;}
.cnew li.active{background-color:#FFF; color:#252525;}
.icon_menu{width:26px;height:26px;border:#5f5f5f 1px solid;margin-right:10px;float:left;vertical-align:middle;}
.menutitle{padding-top:20px;float:left;margin-top:-15px; width:110px;}
.menutitle a{color:#FFF;}
.menutitle a:hover{color:#7cbf43;}

#services_drpdwn  span.menutitle{padding-top:20px;float:left;margin-top:-15px; width:160px;}
#services_drpdwn  span.menutitle a{color:#FFF;}
#services_drpdwn  span.menutitle a:hover{color:#7cbf43;}

#industry_drpdwn  span.menutitle{padding-top:20px;float:left;margin-top:-15px; width:192px;}
#industry_drpdwn  span.menutitle a{color:#FFF;}
#industry_drpdwn  span.menutitle a:hover{color:#7cbf43;}

#industry_drpdwn  span.menutitle1{padding-top:20px;float:left;margin-top:-15px; width:132px;}
#industry_drpdwn  span.menutitle1 a{color:#FFF;}
#industry_drpdwn  span.menutitle1 a:hover{color:#7cbf43;}



#services_drpdwn{width:740px;min-height:60px;position:absolute;left:5px;top:25px;background-color:#414141;border-top:#f25900 5px solid;display:none;z-index:9999;padding-bottom:20px;}
#services_drpdwn ul{float:left;min-height:60px;
background-image:url(../../Themes_App/Frontend/images/menusep.png);background-position:230px 0px;
background-repeat:no-repeat;
padding-right:10px;
}
#services_menumask{position:absolute;top:-5px;left:155px;height:10px;width:120px;background-color:#414141;z-index:9999;}
#services_drpdwn ul h3{color:#FFF;margin-bottom:20px;padding-bottom:10px;}
#services_drpdwn ul#one{margin-left:10px;margin-top:20px;width:220px;overflow:hidden;background-position:225px 0px;}
#services_drpdwn ul#two{margin-left:10px;margin-top:20px;width:240px;overflow:hidden;background-position:245px 0px;}
#services_drpdwn ul#three{margin-left:10px;margin-top:20px;width:218px;background-image:none;}
#services_drpdwn ul li{list-style:none!important;display:block!important;float:left!important;width:100%;padding-left:10px;font-size:12px;margin-top:7px;}
#services_drpdwn ul li a{color:#CCC;}
#services_drpdwn ul li a:hover{color:#CCC; text-decoration:underline;}


#industry_drpdwn{width:261px;min-height:60px;position:absolute;right:185px;top:25px;background-color:#414141;border-top:#f25900 5px solid;display:none;z-index:9999;padding-bottom:20px;}
#industry_drpdwn ul{float:left;min-height:60px;
background-image:url(../../Themes_App/Frontend/images/menusep.png);background-position:230px 0px;
background-repeat:no-repeat;
padding-right:10px;
padding-top:10px;
}
#industry_menumask{position:absolute;top:-5px;left:45px;height:10px;width:153px;background-color:#414141;}
#industry_drpdwn h3{color:#FFF;}
#industry_drpdwn ul h3{color:#FFF;margin-bottom:10px;padding-bottom:0px;height:35px!important;}
#industry_drpdwn ul#one{margin-left:10px;margin-top:10px;width:190px;overflow:hidden;background-position:195px 0px;}
#industry_drpdwn ul#two{margin-left:10px;margin-top:10px;width:250px;overflow:hidden;background-image:none;}
#industry_drpdwn ul#three{margin-left:10px;margin-top:0px;width:200px;background-image:none;}
#industry_drpdwn ul li{list-style:none!important;display:block!important;float:left!important;width:100%;padding-left:10px;font-size:12px;margin-top:7px; color:#CCC;}
#industry_drpdwn ul li a{color:#CCC;}
#industry_drpdwn ul li a:hover{color:#CCC; text-decoration:underline;}




#aboutus_drpdwn{width:200px;min-height:60px;position:absolute;left:35px;top:25px;background-color:#414141;border-top:#f25900 5px solid;display:none;z-index:9999;padding-bottom:20px;}
#aboutus_drpdwn ul{float:left; min-height:60px; padding-right:10px;
}
#aboutus_menumask{top:-5px;left:18px;min-height:10px;width:98px;background-color:#414141;margin-top:-5px;margin-left:19px;}
#aboutus_drpdwn ul h3{color:#FFF;}
#aboutus_drpdwn ul#one{margin-left:0px;margin-top:20px;width:170px;overflow:hidden;}
#aboutus_drpdwn ul#two{margin-left:10px;margin-top:20px;width:240px;overflow:hidden;}
#aboutus_drpdwn ul#three{margin-left:10px;margin-top:20px;width:140px;background-image:none;}
#aboutus_drpdwn ul li{list-style:none!important;display:block!important;float:left!important;width:100%;padding-left:10px;font-size:12px;margin-top:7px;}
#aboutus_drpdwn ul li a{color:#CCC;}
#aboutus_drpdwn ul li a:hover{color:#CCC; text-decoration:underline;}

#resources_drpdwn{width:189px;min-height:60px;position:absolute;right:90px;top:25px;background-color:#414141;border-top:#f25900 5px solid;display:none;z-index:9999;padding-bottom:20px;}
#resources_drpdwn ul{float:left;min-height:60px; padding-right:10px;
}
#resources_menumask{top:-5px;left:20px;min-height:10px;width:79px;background-color:#414141; margin-top:-6px; margin-left:40px;}
#resources_drpdwn ul h3{color:#FFF;}
#resources_drpdwn ul#one{margin-left:0px;margin-top:20px;width:160px;overflow:hidden;}
#resources_drpdwn ul#two{margin-left:0px;margin-top:20px;width:240px;overflow:hidden;}
#resources_drpdwn ul#three{margin-left:0px;margin-top:20px;width:140px;background-image:none;}
#resources_drpdwn ul li{list-style:none!important;display:block!important;float:left!important;width:100%;padding-left:10px;font-size:12px;margin-top:7px;}
#resources_drpdwn ul li a{color:#CCC;}
#resources_drpdwn ul li a:hover{color:#CCC; text-decoration:underline;}

#indus_drpdwn{width:220px;min-height:60px;position:absolute;right:10px;top:25px;background-color:#414141;border-top:#f25900 5px solid;display:none;z-index:9999;padding-bottom:20px;}
#indus_drpdwn ul{float:left;min-height:60px; padding-right:10px;
}
#indus_menumask{top:-5px;left:20px;min-height:10px;width:79px;background-color:#414141; margin-top:-6px; margin-left:40px;}
#indus_drpdwn ul h3{color:#FFF;}
#indus_drpdwn ul#one{margin-left:0px;margin-top:20px;width:160px;overflow:hidden;}
#indus_drpdwn ul#two{margin-left:0px;margin-top:20px;width:240px;overflow:hidden;}
#indus_drpdwn ul#three{margin-left:0px;margin-top:20px;width:140px;background-image:none;}
#indus_drpdwn ul li{list-style:none!important;display:block!important;float:left!important;width:100%;padding-left:10px;font-size:12px;margin-top:7px;}
#indus_drpdwn ul li a{color:#CCC;}
#indus_drpdwn ul li a:hover{color:#CCC; text-decoration:underline;}


#output span.red{color:#F00!important;}#output span.green{color:#f25900!important;}